.button {
    font-size: 1.6rem;
    background-color: $primary;
    min-width: 6.5rem; 
    color: white;
    text-align: center;
    padding: 1rem 1.5rem;
    cursor: pointer;
    border-radius: 20px;
}