.auth {
    display: flex;
    justify-content: space-around;
    height: 100%;

    &__right {
        min-width: 60rem;
        align-self: center;
    }

    &__left {
        @media (max-width: 1280px) {
            display: none;
        }
    }

    &__images {
        width: 40rem;

        &--1 {
            position: relative;
            top: 20%;
            left: -30%;
        }
        &--2 {
            position: absolute;
            top: 40%;
            left: 10%;
        }
    }


}


.authform {
    background-color: $primary-dark;
    color: $primary-grey-light;
    width: 85%;
    height: 50%;
    border-radius: 5px;
    box-shadow: $shadow;

    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;

    @media (max-width: 900px) {
        position: initial;
        top: 0;
        left: 0;
        transform: none;
        
        width: 95%;
        margin: 0 auto;
    }

    &__header {
        padding: 1rem 0;
        margin-bottom: 2rem;
        background: $primary-gradient;
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px 5px 0 0;

        & > span {
            color: black;
            font-size: 3rem;
            text-transform: uppercase; 
        }
    }

    &__control {
        font-size: 1.5rem;

        display: flex;
        flex-direction: column; 
        align-items: center;

        & > label {
            margin-bottom: .8rem; 
        }

        & > input {
            height: 2rem;
            width: 15rem;
            margin-bottom: 1rem;
        }
    }

    &__actions {
        width: 50%;
        margin: 1.7rem 0;
        
        display: flex;
        justify-content: space-between;

        @media (max-width: 1280px) {
            flex-direction: column;

            & > button {
                margin-bottom: 2rem;
            }
        }
    }
}