.modal {
    color: white;
    background-color: $primary-dark;
    border-radius: 5px;

    position: fixed;
    top: 20vh;
    left: 5%;

    @media (max-width: 600px) {
        top: 25vh;
        left: 7vh;
        width: 80%;
    }

    &__header {
        background-image: $primary-gradient;
        color: black;
        height: 4rem;
        font-size: 3rem;
        padding: 1rem 1.5rem;
        border-radius: 5px 5px 0 0;
    }

    &__content {
        background-color: $primary-grey-light;
        width: 80%;
        margin: 2rem auto;
        padding: 3rem 3.5rem;
        color: black;
        border-radius: 5px;
        box-shadow: $shadow;
        line-height: 2.5rem;

        & p {
            border-top: 1px solid #333;
            margin-top: 2rem;
            padding-top: 2rem;
            font-size: 1.4rem;
        }

        @media (max-width: 600px) {
            width: 75%;
        }
    }

    &__actions {
        display: flex;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 2rem;
        justify-content: space-evenly;
    }
}

@media (min-width: 768px) {
    .modal {
        width: 60rem;
        left: 50%;
        transform: translateX(-50%); 
    }
}