.modal {
    width: 90%;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    position: fixed;
    top: 20vh;
    left: 5%;
    border: 1px solid red;
}

@media (min-width: 768px) {
    .modal {
        width: 60rem;
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid blue;
    }
}